.container {
  width: 330px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;

  background-color: #ccc;
  border: 2px solid teal;
}

.wrapper {
  width: 300px;
}

.button {
  width: 40px;
  height: 40px;
  margin-top: 50px;
  border-radius: 50%;
}

.secondaryWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  width: 200px;
}

.currency {
  width: 200px;
  text-align: center;
}

.item {
  display: flex;
}
.period,
.sum {
  display: block;
  width: 150px;
}

.sum {
  text-align: center;
}
